
.loader{
  text-align: center;
}
.App-header{
  text-align: center;
}
button {
  border: 1px solid #ccc;
  padding: 20px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  outline: none;
}

.start-quiz-button{
  background-color: #107b0e;
}
.submit-quiz-button{
  background-color: #f00;
}

.quiz-question-container {
  padding: 30px;
}

label {
  display: inline-block;
  margin: 30px 30px 30px 0;
  cursor: pointer;
}
input[type="radio"] {
  margin-right: 10px;
}
.button-container{
  text-align: left;
  margin-left: 30px;
}
.results-container {
  padding: 30px;
}

.correct-label{
  color:#27b142;
  font-weight: 500
}